[Unit]
Description=demo fastapi aplication
After=network.target

[Service]
User=petani
Group=pentani
WorkingDirectory=/home/petani/app/src/
Environment="PATH=/home/petani/app/venv/bin"
ExecStart=/home/petani/app/venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:80000

[Install]
WantedBy=multi-user.target